html, body { overflow: hidden;}
.modal-content img {
  width:100%;
  position:relative;
}
.modal .modal-content {
    padding: 0;
}

.plot {
  position:relative;
  z-index:0;
  width:1280px;
  height:100vh;
  margin: 50px auto; /*Center object*/
  transform:scale(2); /*Scale to rezise screen*/
}
img {
  position: absolute;
  z-index:0;
  top:0;
  left:0;
  width:100%;
  height:auto;
}

.plotbtn {
  position:absolute;
  z-index:2;
  top:0; /*Set default position vertical*/
  left:0; /*Set default position horizontal */
  width:40px; /*Set default position width*/
  height:40px; /*Set default position height*/
  background:transparent;
  /*border: solid #000 1px;*/
}

/*CUSTOM...*/

.plotbtn01 {transform: skew(-60deg, 30deg);}
.plotbtn02 {transform: skew(-60deg, 30deg);}
.plotbtn03 {transform: skew(-60deg, 30deg);}
.plotbtn04 {transform: skew(-60deg, 30deg);}

#plotCloud-wrapper, #plotBG-wrapper {
  position: absolute;
  z-index:1;
  top:0;
  left:0;
  height:auto;
}

/*ELEMENTS*/

.nicholaisen { top:440px;left:225px;width:75px;}
.monitor { top:560px;left:660px;width:75px;}
.piechart { top:160px;left:820px;width:75px; }
.barchart-arrow { top:-5px;left:670px;width:110px; }
.paper { top:390px;left:925px;width:55px; }
.paper2 { top:430px;left:560px;width:55px; }
.paper-with-pen { top:420px;left:490px;width:65px; }
.coinstack { top:215px;left:1080px;width:55px; }
.laptop { top:110px;left:980px;width:95px; }
.technician { top:185px;left:960px;width:55px; }
.cloud { top:280px;left:350px;width:130px; }
.diy-on-plate { top:405px;left:625px;width:75px; }
.technician-on-plate { top:470px;left:485px;width:75px; }
.device { top:510px;left:530px;width:75px; }
.mobile { top:465px;left:725px;width:75px; }
.speech { top:560px;left:790px;width:95px; }

.machine01 { top:140px;left:570px;width:65px; }
.machine02 { top:165px;left:520px;width:75px; }
.machine03 { top:200px;left:470px;width:65px; }
.machine04 { top:255px;left:660px;width:75px; }
.machine05 { top:255px;left:775px;width:75px; }
.machine06 { top:305px;left:700px;width:130px; }
.machine07 { top:540px;left:590px;width:75px; }

#plotCloud-wrapper .monitor { top:50px;left:60px;width:75px;}
#plotCloud-wrapper .barchart { top:35px;left:165px;width:75px; }
#plotCloud-wrapper .piechart2 { top:45px;left:310px;width:75px; }
#plotCloud-wrapper .barchart-arrow { top:200px;left:105px;width:75px; }
#plotCloud-wrapper .paper { top:135px;left:260px;width:75px; }
#plotCloud-wrapper .datatract { top:110px;left:400px;width:75px; }
#plotCloud-wrapper .coinstack2 { top:35px;left:450px;width:75px; }


/*Animation / Transition on elements*/
.animate {
  transition: all .5s ease;
  transform: translateY(0px);
}
.animate1 {
  transition: all .3s ease;
  transform: translateY(-10px);
}
.animate2 {
  transition: all .5s ease;
  transform: translateY(-10px);
}
.animate3 {
  transition: all .7s ease;
  transform: translateY(-10px);
}
.animate4 {
  transition: all 1.1s ease;
  transform: translateY(-10px);
}
.animate5 {
  transition: all 1.3s ease;
  transform: translateY(-10px);
}
.animate6 {
  transition: all 1.5s ease;
  transform: translateY(-10px);
}
.animate7 {
  transition: all 1.7s ease;
  transform: translateY(-10px);
}
.animate8 {
  transition: all 1.9s ease;
  transform: translateY(-10px);
}
.animate9 {
  transition: all 2.1s ease;
  transform: translateY(-10px);
}
